@import "tailwindcss";

@theme{
    --breakpoint-xl:86.25rem;
    --breakpoint-1xl:80rem;
    --breakpoint-1xlg:73.75rem;
    --breakpoint-2xlg:60rem;
    --breakpoint-2xl:34.0625rem
}


html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
}